body {
    width: 1280px;
    margin: 0 auto;
    font-family: "Roboto";
}

.header_title {
    margin-bottom: 40px;
}

.header_link {
    text-decoration: none;
    color: black;
    font-size: 80px;
    font-weight: 700;
    line-height: 94px;
}

.marker {
    color: #4BCAFF;
}

.header_nav {
    background-color: #35444F;
    display: flex;
    justify-content: center;
    height: 70px;


}

.nav_item {
    font-size: 24px;
    padding: 23px 33px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.nav_item:hover{
    background-color: #222F3A;
}

.nav_item a {
    text-decoration: none;
    color: white;
}


.main {
    display: flex;
    gap: 50px;
}

.aside_nav {
    display: flex;
    margin-top: 50px;
    gap: 50px;


}

.aside_item:hover {
    background-color: #DBDBDB;
    padding-left: 75px;
}

.container_img {
    border: 1px solid #111;
    margin-top: 48px;
}

.image1 {

    height: 529px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image1:hover{
    transform: scale(1.2);
    transition: transform 0.5s;
}

.aside_list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-shrink: 0;
    width: 345px;
    height: 400px;
    border: 1px solid #111;
    overflow: hidden;

}

.aside_item {
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 100%;
    font-size: 27px;
    text-align: center;

}

.aside_item a {
    color: #485863;
    text-decoration: none;
}

.text_content {
    color: #2C2C2C;
    font-weight: 400px;
    font-size: 18px;
    line-height: 24px;
}

.content1 {
    margin-bottom: 34px;
    margin-top: 37px;
}

.footer_list {
    display: flex;
    flex-direction: row;

}

.footer {
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    padding: 21px 40px;
    justify-content: space-between;
    margin-top: 54px;
    margin-bottom: 51px;


}

.footer_item {
    font-size: 28px;
    line-height: 28px;
    padding-right: 30px;
}

.footer_item a:hover{
 color: #3181A6 ;
text-decoration: underline;
}

.footer_item a {
    text-decoration: none;
    color: #0C1927;
}

.footer_text {
    font-size: 24px;
    line-height: 24px;
    padding-left: 40px;
}